@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iranyekan';
  src: url('./Components/assets/font/BYekan+.ttf') format('truetype')
}

body {
  margin: 0;
  font-family: 'iranyekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 99;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
